@font-face {
  font-family: "CustomFont";
  src: url("../../../public/fonts/Pacifico-Regular.woff") format("woff"); /* Adjust the path and format accordingly */
  font-weight: normal;
  font-style: normal;
}

.content-wrapper {
  margin-top: 40px;
}

.course-display {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 43px);
}

.instructions-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  width: fit-content;
  min-width: 300px;
  border-radius: 5px;
}

.inline-content {
  display: flex;
  align-items: center;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  transition: transform 0.2s;
}

.close-icon:hover {
  transform: scale(0.9);
}

.courses-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#cytoscape-container {
  background-color: rgb(27, 27, 27);
}

.course-filter {
  width: 15%;
  padding: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 15px;
  width: 100%;
  padding: 0 20px;
  pointer-events: none;
  z-index: 999;
}

.generate-button {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  pointer-events: auto;
  padding: 0.5rem 1rem;
  background-color: #ebebeb;
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.generate-button[disabled] {
  visibility: visible;
  opacity: 0.5;
  background-color: #ebebeb;
}

.help-button {
  position: absolute;
  bottom: 6px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #393c42;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-button button {
  color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.help-button button:hover {
  background-color: #363c47;
}

.loading-window {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fa4616;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  z-index: 999;
}

.loading-window.show {
  visibility: visible;
  opacity: 1;
}

.elapsed-time {
  position: absolute;
  top: 14px;
  right: 10px;
  background-color: #fa4616;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}

.loader-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loader-container.show {
  display: block;
}

@media (max-width: 1000px) and (min-width: 501px){
  .flexImage {
    flex-direction: column; /* Reverse the order of flex items */
    align-items: center; /* Center align items horizontally */
  }
  #display-write {
    order: 3;
    width: 100%;
    border-top: 0.5px solid #ccc;
  }

  #cytoscape-container {
    width: 100%;
    height: 80vh;
  }

  .flex.flex-col.items-start.basis-full.p-0.dark\:bg-gray-800.transition-colors.duration-500 {
    max-width: 100%;
    width: 100%;
  }

  .courses-handler {
    order: 2;
    width: 100%;
  }

  .calendar-container {
    width: 100%;
    order: 3;
  }
  .selected-courses {
    order: 1;
    width: 100%;
  }

  .arrow {
    position: absolute;
    top: 0px;
    right: 40px;
    animation: arrowAnimation 1s infinite alternate;
    z-index: 10010;
    pointer-events: none;
  }

  .caption {
    font-family: "CustomFont", "Segoe UI";
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 290px;
    text-align: center;
    color: white; /* Adjust as needed */
    margin-top: 10px; /* Space between the image and the caption */
    animation: captionAnimation 1s infinite alternate;
    z-index: 10010;
    pointer-events: none;
    text-shadow: 1px -2px 7px rgba(0, 0, 0, 0.8);
  }
}

@media (min-width: 1001px) {
  .selected-courses {
    max-width: 12%;
    min-width: 12%;
    border-right: 0.5px solid #ccc;
  }

  #display-write {
    max-height: 100vh;
    border-left: 0.5px solid #ccc;
    position: sticky;
    top: 0;
    bottom: 0;
    flex: 1;
    max-width: 100%;
  }

  #cytoscape-container {
    width: 100%;
    height: 100%;
  }
  .flex.flex-col.items-start.basis-full.p-0.dark\:bg-gray-800.transition-colors.duration-500 {
    max-width: 36%;
    min-width: 36%;
  }

  .arrow {
    position: absolute;
    top: 0px;
    right: 60px;
    animation: arrowAnimation 1s infinite alternate;
    z-index: 10010;
    pointer-events: none;
  }

  .caption {
    font-family: "CustomFont", "Segoe UI";
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 310px;
    text-align: center;
    color: white; /* Adjust as needed */
    margin-top: 10px; /* Space between the image and the caption */
    animation: captionAnimation 1s infinite alternate;
    z-index: 10010;
    pointer-events: none;
    text-shadow: 1px -2px 7px rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 500px) {
  .flexImage {
    flex-direction: column; /* Reverse the order of flex items */
    align-items: center; /* Center align items horizontally */
  }
  #display-write {
    order: 3;
    width: 100%;
    border-top: 0.5px solid #ccc;
  }

  #cytoscape-container {
    width: 100%;
    height: 80vh;
  }

  .flex.flex-col.items-start.basis-full.p-0.dark\:bg-gray-800.transition-colors.duration-500 {
    max-width: 100%;
    width: 100%;
  }

  .courses-handler {
    order: 2;
    width: 100%;
  }

  .calendar-container {
    width: 100%;
    order: 3;
  }
  .selected-courses {
    order: 1;
    width: 100%;
  }

  .arrow {
    position: absolute;
    top: 0px;
    right: -70px;
    animation: arrowAnimation 1s infinite alternate;
    z-index: 10010;
    pointer-events: none;
  }

  .caption {
    font-family: "CustomFont", "Segoe UI";
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 180px;
    text-align: center;
    color: white; /* Adjust as needed */
    margin-top: 10px; /* Space between the image and the caption */
    animation: captionAnimation 1s infinite alternate;
    z-index: 10010;
    pointer-events: none;
    text-shadow: 1px -2px 7px rgba(0, 0, 0, 0.8);
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding-bottom: 60px;
  background-color: #23252a;
  overflow-x: hidden;
  overflow-y: visible;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10000;
  border-radius: 5px;
  box-shadow: 10px 5px 15px -8px rgba(0, 0, 0, 0.5);
}

.drawer.closed {
  left: -300px;
  box-shadow: none;
}

.drawer-close-button {
  position: absolute;
  top: 12px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
  z-index: 9999; /* Ensure this is below the drawer's z-index */
  display: none; /* Initially hidden */
}

.overlay.open {
  display: block; /* Show when the drawer is open */
}

.overlay.closed {
  display: none; /* Hide when the drawer is closed */
}

.nowrap {
  white-space: nowrap;
}

@keyframes arrowAnimation {
  from {
    transform: scaleY(-1) scale(0.5) rotate(42deg) translateY(0);
  }
  to {
    transform: scaleY(-1) scale(0.5) rotate(40deg) translateY(8px);
  }
}

@keyframes captionAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px) translateX(-3px);
  }
}

.instruction-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  /* text-decoration: underline; */
}
