.course-display {
  display: flex;
}

.courses-handler {
  width: 50%;
  padding: 1rem;
  position: relative;
}

.course-filter {
  width: 15%;
  padding: 1rem;
}

.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4F545C;
}

.help-button button {
  color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.help-button button:hover {
  background-color: #363c47;
}

.generate-button {
  position: absolute;
  bottom: 20px;
  left: 20%; 
  transform: translateX(-50%);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: #393c42;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tooltip-window {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  visibility: visible; /* Initially visible */
  opacity: 1; /* Initially visible */
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.generate-button[disabled] {
  visibility: visible;
  opacity: 1;
  background-color: #7c7c7c;
}

.popup {
  position: fixed;
  bottom: 100px;
  right: 25px;
  max-width: calc(100% - 50px);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}