.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(47 49 54);
  color: white;
  padding: 8px;
  text-align: right;
  font-size: large;
  z-index: 1000; /* Ensure the header is above other content */
  border-bottom: 0.5px solid #ccc;
}

.content-wrapper {
  margin-top: 40px; /* Adjust this margin to avoid content overlap */
}

.course-display {
  display: flex;
}

.courses-handler {
  width: 50%;
  padding: 1rem;
  position: relative;
}

.course-filter {
  width: 15%;
  padding: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 15px;
  width: 100%;
  padding: 0 20px;
  pointer-events: none;
  z-index: 999;
}

.generate-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  pointer-events: auto;
  padding: 0.5rem 0.5rem;
  background-color: #393c42;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.generate-button[disabled] {
  visibility: visible;
  opacity: 1;
  background-color: #7c7c7c;
}

.help-button {
  position: absolute;
  bottom: 6px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #393c42;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-button button {
  color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.help-button button:hover {
  background-color: #363c47;
}

.tooltip-window {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  z-index: 999;
}

.loading-window {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FA4616;;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  z-index: 999;
}

.loading-window.show {
  visibility: visible;
  opacity: 1;
}

.tooltip-window.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  position: fixed;
  bottom: 100px;
  right: 25px;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
}

.popup.show {
  visibility: visible;
  opacity: 0.9;
}

.elapsed-time {
  position: absolute;
  top: 14px;
  right: 10px;
  background-color: #FA4616;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}

@media (max-width: 700px) {
  .flexImage {
    flex-direction: column;
    align-items: flex-start;
  }
  #display-write {
    width: 100%;
    height: 300px;
    max-height: 100vh;
    border-top: 0.5px solid #ccc;
  }

  #cytoscape-container {
    width: 100%;
    height: 500px;
  }

  .popup {
    position: fixed;
    bottom: 90px;
    right: 25px;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
}

#display-write {
  position: relative;
  flex: 1; 
  max-width: 100%;
}


@media (min-width: 701px) {
  #display-write {
    width: 100%;
    height: auto;
    max-height: 100vh;
    border-left: 0.5px solid #ccc;
  }

  #cytoscape-container {
    width: 100%;
    height: 100%;
  }
}