@media (max-width: 700px) {
.mt-4.space-y-2.w-full.flex.flex-col {
    width: 90%;
    margin: 20px auto 0 auto;
}
#badge {
    margin-left: 0px;
}

}

@media (min-width: 701px) {
    #badge {
        margin-left: 16px;
    }
}