.calendar-container
{
    max-height: calc(100vh - 43px);
    width: 55%;
    overflow-y: auto;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

.course-name {
    border-bottom: 1px solid white;
  }


@media (max-width: 700px)
{
    .calendar-container
    {
        border-top: 0.5px solid #ccc;
    }
}
@media (min-width: 701px) and (max-width: 1120px)
{
    .calendar-container
    {
        border-left: 0.5px solid #ccc;
        max-height: 100vh;
        position: fixed;
        top: 43px;
        left: 45%;
        flex: 1; 
        max-width: 55%;
    }
}
@media (min-width: 1121px)
{
    .calendar-container
    {
        border-left: 0.5px solid #ccc;
        max-height: 100vh;
        position: fixed;
        top: 43px;
        left: 45%;
        flex: 1; 
        max-width: 55%;
    }
}