.header-container {
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 0px;
  z-index: 1000;
}

.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 43px;
  text-align: right;
  font-size: large;
  z-index: 1000;
  border-bottom: 0.5px solid #a9a9a9;
  align-items: center;
  display: flex;
  padding: 0 10px; /* Added padding */
  justify-content: space-evenly;
}

.credits-container {
  margin-right: auto; /* This will push the content to the left */
  white-space: nowrap;
}

@media (min-width: 760px ) {
  .button-container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    justify-content: center;
  }
  .Button {
    background-color: #292929;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    min-width: 10vw;
    color: white;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
}

@media (max-width: 759px) {
  .button-container {
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid #a9a9a9;
    background-color: black;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Button {
    background-color: #292929;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    width: 100%; /* Ensure buttons take full width of their flex container */
  }
}

.icon-text-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 5px;
}

.Button:first-child {
  margin-left: 0;
  border-left: none;
}

.Button:last-child {
  margin-right: 0;
  border-right: none;
}

.Button.grayed {
  opacity: 0.3;
}
.Button.show {
  opacity: 1;
}

.menu-button {
  z-index: 99999;
  transition: opacity 0.3s ease;
  min-width: 18px;
}

.faded {
  opacity: 0.5;
}
