.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(32,34,37);
  color: white;
  height: 43px;
  text-align: right;
  font-size: large;
  z-index: 1000;
  border-bottom: 0.5px solid #ccc;
  align-items: center;
  display: flex;
  padding: 0 10px; /* Added padding */
}

.credits-container {
  margin-right: auto; /* This will push the content to the left */
  white-space: nowrap;
}

.button-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.Button {
  background-color: #393c42;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
  min-width: 10vw;
  color: white;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.icon-text-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
}

.Button:first-child {
  margin-left: 0;
}

.Button:last-child {
  margin-right: 0;
}

.Button.grayed {
  opacity: 0.6;
}
.Button.show {
  opacity: 1;
}

@media (max-width: 500px) {
  .title {
    display: none;
  }
}

.menu-button {
  z-index: 99999;
  transition: opacity 0.3s ease;
  min-width: 18px;
}

.faded {
  opacity: 0.5;
}

